### Bayou Data
##### By: Risdan Kristori
##### Kursus Python Lengkap Berbahasa Indonesia

# Fungsi Print()
Fungsi print bertujuan untuk menampilkan output.

- Contoh menggunakan fungsi print()

In [8]:
print("Helo semua")

Helo semua

In [11]:
print("Helo semua")
print("Helo semua")

Helo semua
Helo semua

- Contoh menggunakan fungsi print() dengan escape characterter.

In [13]:
print("Helo \nsemua")

Helo
semua

In [14]:
print("Helo \tsemua")

Helo 	semua

# String Formatting

Sting formatting adalah proses menggabungkan string dengan variabel atau nilai dengan format tertentu.

## 1. Dengan menggunakan operator modulo (%)

In [2]:
nama = "Andi"
ipk = 3.1234567

### 1. Dengan menggunakan %s dan %r untuk string

In [3]:
print("nama dia adalah %s"%(nama))

nama dia adalah Andi

In [4]:
print("nama dia adalah %r"%(nama))

nama dia adalah 'Andi'

### 2. Dengan menggunakan %d untuk tipe data integer

In [5]:
print("Andi memiliki nilai IPK %d"%(ipk))

Andi memiliki nilai IPK 3

In [6]:
print("%s memiliki nilai IPK %d"%(nama, ipk))

Andi memiliki nilai IPK 3

### 3. Dengan menggunakan %width.precision f untuk tipe data float

In [7]:
print("%s memiliki nilai IPK %1.3f"%(nama, ipk))

Andi memiliki nilai IPK 3.123

In [8]:
print("%s memiliki nilai IPK %10.3f"%(nama, ipk))

Andi memiliki nilai IPK      3.123

## 2. Dengan menggunakan .format()

### Contoh sintak:
"nilai ulangan Andi adalah {} dan Ani adalah {}".format(nilai_andi, nilai_ani)

In [16]:
nilai_andi = 50.12345
nilai_ani = 70

In [11]:
print("nilai ulangan Andi adalah {} dan Ani adalah {}".format(nilai_andi, nilai_ani))

nilai ulangan Andi adalah 50 dan Ani adalah 70

### 2.1 Dengan menggunakan index

In [12]:
print("nilai ulangan Andi adalah {1} dan Ani adalah {0}".format(nilai_andi, nilai_ani))

nilai ulangan Andi adalah 70 dan Ani adalah 50

In [13]:
print("nilai ulangan Andi adalah {1} dan Ani adalah {1}".format(nilai_andi, nilai_ani))

nilai ulangan Andi adalah 70 dan Ani adalah 70

### 2.2 Dengan menggunakan keyword

In [14]:
print("nilai ulangan Andi adalah {a} dan Ani adalah {a}".format(a = nilai_andi, b = nilai_ani))

nilai ulangan Andi adalah 50 dan Ani adalah 50

In [15]:
print("nilai ulangan Andi adalah {b} dan Ani adalah {b}".format(a = nilai_andi, b = nilai_ani))

nilai ulangan Andi adalah 70 dan Ani adalah 70

### 2.3 Dengan menggunakan sintak {value:width.precision f} untuk tipe data float

In [18]:
print("nilai ulangan Andi adalah {a:3.1f} dan Ani adalah {b}".format(a = nilai_andi, b = nilai_ani))

nilai ulangan Andi adalah 50.1 dan Ani adalah 70

## 3. Dengan metode f-string

In [19]:
nama = "Andi"
ipk = 3.1234567

### 3.1 Dengan menggunakan variabel

In [20]:
print(f'{nama} memiliki nilai IPK {ipk}')

Andi memiliki nilai IPK 3.1234567

### 3.2 Dengan menggunakan sintak {value:{width}.{precision}f} untuk tipe data float

In [22]:
print(f'{nama} memiliki nilai IPK {ipk:3.3f}')

Andi memiliki nilai IPK 3.123

In [23]:
print(f'{nama} memiliki nilai IPK {ipk:3.3}')

Andi memiliki nilai IPK 3.12