### Bayou Data
##### By: Risdan Kristori
##### Kursus Python Lengkap Berbahasa Indonesia

# *args dan **kwargs

### *args dan **kwargs digunakan agar kita dapat memanggil fungsi dengan mamasukkan sembarang jumlah argument.

## 1. Contoh Tanpa Penggunaan *args atau **kwargs

In [1]:
def cetak_nama(nama1, nama2):
    print(f"nama 1 adalah {nama1}")
    print(f"nama 2 adalah {nama2}")

In [2]:
cetak_nama("Ansar", "Usman")

nama 1 adalah Ansar
nama 2 adalah Usman

In [3]:
cetak_nama("Ansar")

TypeError: cetak_nama() missing 1 required positional argument: 'nama2'

In [4]:
cetak_nama("Ansar", "Usman","Hesti")

TypeError: cetak_nama() takes 2 positional arguments but 3 were given

## 2. Menggunakan *args

### *args membuat argument yang dimasukkan menjadi tipe data tuple.

In [9]:
def cetak_nama(*nama):
    print(nama)
    for index,item in enumerate(nama):
        print(f"nama {index+1} adalah {item}")

In [6]:
cetak_nama("Ansar")

('Ansar',)

In [8]:
cetak_nama("Ansar", "Usman", "Hesti")

('Ansar', 'Usman', 'Hesti')

In [11]:
cetak_nama("Ansar", "Usman", "Hesti", "Joko", "Alex")

('Ansar', 'Usman', 'Hesti', 'Joko', 'Alex')
nama 1 adalah Ansar
nama 2 adalah Usman
nama 3 adalah Hesti
nama 4 adalah Joko
nama 5 adalah Alex

## 3. Menggunakan **kwargs

### **kwargs membuat argument yang dimasukkan menjadi tipe data dictionary.

In [14]:
def cetak_alamat(**alamat):
    print(alamat)
    for i,_ in enumerate(alamat):
        print(f"nama {alamat['nama'][i]} beralamat di {alamat['alamat'][i]}")

In [13]:
cetak_alamat(nama=["Ansar", "Usman"], alamat=["Penajam", "Ketapang"])

{'nama': ['Ansar', 'Usman'], 'alamat': ['Penajam', 'Ketapang']}

In [15]:
cetak_alamat(nama=["Ansar", "Usman"], alamat=["Penajam", "Ketapang"])

{'nama': ['Ansar', 'Usman'], 'alamat': ['Penajam', 'Ketapang']}
nama Ansar beralamat di Penajam
nama Usman beralamat di Ketapang